**Indiquer dans la boîte ci-dessous vos noms et prénoms**

Dousble-cliquer ici et remplacer par les noms et prénoms de votre binôme

# 3I026 - Intelligence artificielle & Data science

# Projet

## Données

Vous devez travailler sur les données du projet Kaggle *European Soccer Database* accessible à l'adresse https://www.kaggle.com/hugomathien/soccer.

Les données en version SQLite sur la page http://www-connex.lip6.fr/~schwander/3I026/soccer.zip ou en version CSV http://www-connex.lip6.fr/~denoyer/wordpress/wp-content/uploads/2018/01/soccer.tar.gz. Pour facilter le travail dans les salles de la PPTI (et éviter de dépasser le quota de votre home), les données sont accessibles aussi dans `/Vrac/3I026/soccer/`.

Quel que soit le moyen pour récupérer le fichier de données, il est indispensable de lire en détail la page Kaggle pour comprendre à quoi ces données correspondent.

**Rappel:** il est attendu un notebook Python par problème, et le problème étudié doit être décrit précisément. Votre rapport devra impérativement suivre le format suivant.

## Partie 1 - Description du problème

Le but de ce projet est de déterminer le résultat d'un match de champions league.
Nous avons à notre disposition les données des match de ligue des 11 pays qui participe à la champion's league depuis 2008, les données des équipes et leurs caractéristiques et les données des joueurs et leurs caractéristiques.
Pour procéder à notre programme de prédiction nous avons pensés à utiliser un labelset incluant le score, les joueurs et leur potentiel, le potentiel des équipes et les

## Partie 2 - Modèle

In [1]:
import sqlite3
import pandas as pd
import numpy as np

conn = sqlite3.connect("database.sqlite")
conn.row_factory = sqlite3.Row

c = conn.cursor()

teams = pd.read_sql_query("Select * from Team", conn)
team_attributes = pd.read_sql_query("Select * from Team_Attributes", conn)
countries = pd.read_sql_query("Select * from Country", conn)
league = pd.read_sql_query("Select * from League", conn)
match = pd.read_sql_query("Select * from Match", conn)
players = pd.read_sql_query("Select * from Player", conn)
player_attributes = pd.read_sql_query("Select * from Player_attributes", conn)

conn.close()

In [2]:
teams.head(5)

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [3]:
team_attributes.fillna(team_attributes.mean(), inplace=True)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,48.607362,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.000000,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.000000,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,48.607362,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,48.607362,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
5,6,77,8485,2012-02-22 00:00:00,58,Balanced,48.607362,Little,62,Mixed,...,55,Normal,Organised,40,Medium,40,Press,60,Normal,Cover
6,7,77,8485,2013-09-20 00:00:00,62,Balanced,48.607362,Little,45,Mixed,...,55,Normal,Organised,42,Medium,42,Press,60,Normal,Cover
7,8,77,8485,2014-09-19 00:00:00,58,Balanced,64.000000,Normal,62,Mixed,...,57,Normal,Organised,41,Medium,42,Press,60,Normal,Cover
8,9,77,8485,2015-09-10 00:00:00,59,Balanced,64.000000,Normal,53,Mixed,...,63,Normal,Free Form,49,Medium,45,Press,63,Normal,Cover
9,10,614,8576,2010-02-22 00:00:00,60,Balanced,48.607362,Little,40,Mixed,...,55,Normal,Organised,30,Deep,70,Double,30,Narrow,Offside Trap
10,11,614,8576,2011-02-22 00:00:00,65,Balanced,48.607362,Little,45,Mixed,...,50,Normal,Organised,45,Medium,45,Press,50,Normal,Cover
11,12,614,8576,2012-02-22 00:00:00,59,Balanced,48.607362,Little,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
12,13,614,8576,2013-09-20 00:00:00,59,Balanced,48.607362,Little,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
13,14,614,8576,2014-09-19 00:00:00,59,Balanced,57.000000,Normal,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
14,15,614,8576,2015-09-10 00:00:00,59,Balanced,57.000000,Normal,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
15,16,47,8564,2010-02-22 00:00:00,45,Balanced,48.607362,Little,30,Short,...,70,Lots,Free Form,30,Deep,35,Press,60,Normal,Offside Trap
16,17,47,8564,2011-02-22 00:00:00,65,Balanced,48.607362,Little,50,Mixed,...,50,Normal,Free Form,50,Medium,50,Press,50,Normal,Offside Trap
17,18,47,8564,2012-02-22 00:00:00,45,Balanced,48.607362,Little,50,Mixed,...,50,Normal,Free Form,45,Medium,45,Press,50,Normal,Cover
18,19,47,8564,2013-09-20 00:00:00,48,Balanced,48.607362,Little,54,Mixed,...,64,Normal,Free Form,48,Medium,49,Press,53,Normal,Cover
19,20,47,8564,2014-09-19 00:00:00,48,Balanced,70.000000,Lots,52,Mixed,...,75,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
20,21,47,8564,2015-09-10 00:00:00,48,Balanced,70.000000,Lots,52,Mixed,...,69,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
21,22,1901,10215,2010-02-22 00:00:00,30,Slow,48.607362,Little,30,Short,...,55,Normal,Organised,30,Deep,30,Contain,30,Narrow,Offside Trap
22,23,1901,10215,2011-02-22 00:00:00,30,Slow,48.607362,Little,50,Mixed,...,55,Normal,Organised,30,Deep,45,Press,65,Normal,Cover
23,24,1901,10215,2012-02-22 00:00:00,45,Balanced,48.607362,Little,44,Mixed,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
24,25,1901,10215,2013-09-20 00:00:00,45,Balanced,48.607362,Little,44,Mixed,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
25,26,1901,10215,2014-09-19 00:00:00,52,Balanced,53.000000,Normal,44,Mixed,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
26,27,1901,10215,2015-09-10 00:00:00,53,Balanced,53.000000,Normal,44,Mixed,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
27,28,650,10217,2010-02-22 00:00:00,30,Slow,48.607362,Little,35,Mixed,...,65,Normal,Organised,30,Deep,30,Contain,30,Narrow,Cover
28,29,650,10217,2011-02-22 00:00:00,53,Balanced,48.607362,Little,53,Mixed,...,66,Normal,Organised,46,Medium,62,Press,65,Normal,Cover
29,30,650,10217,2012-02-22 00:00:00,38,Balanced,48.607362,Little,44,Mixed,...,44,Normal,Organised,50,Medium,58,Press,62,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,1429,435,7955,2012-02-22 00:00:00,49,Balanced,48.607362,Little,50,Mixed,...,34,Normal,Organised,34,Medium,31,Contain,51,Normal,Cover
1429,1430,1742,9868,2010-02-22 00:00:00,30,Slow,48.607362,Little,30,Short,...,70,Lots,Organised,45,Medium,50,Press,45,Normal,Cover
1430,1431,1742,9868,2011-02-22 00:00:00,40,Balanced,48.607362,Little,58,Mixed,...,49,Normal,Organised,46,Medium,52,Press,67,Wide,Cover
1431,1432,1742,9868,2012-02-22 00:00:00,60,Balanced,48.607362,Little,44,Mixed,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1432,1433,1742,9868,2013-09-20 00:00:00,60,Balanced,48.607362,Little,44,Mixed,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1433,1434,900,10192,2010-02-22 00:00:00,55,Balanced,48.607362,Little,55,Mixed,...,60,Normal,Organised,55,Medium,55,Press,60,Normal,Offside Trap
1434,1435,900,10192,2011-02-22 00:00:00,60,Balanced,48.607362,Little,57,Mixed,...,68,Lots,Organised,48,Medium,49,Press,61,Normal,Cover
1435,1436,900,10192,2012-02-22 00:00:00,52,Balanced,48.607362,Little,69,Long,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1436,1437,900,10192,2013-09-20 00:00:00,52,Balanced,48.607362,Little,69,Long,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1437,1438,900,10192,2014-09-19 00:00:00,52,Balanced,56.000000,Normal,64,Mixed,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1438,1439,900,10192,2015-09-10 00:00:00,52,Balanced,56.000000,Normal,64,Mixed,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1439,1440,110749,8021,2010-02-22 00:00:00,55,Balanced,48.607362,Little,60,Mixed,...,70,Lots,Organised,70,High,70,Double,70,Wide,Cover
1440,1441,110749,8021,2011-02-22 00:00:00,54,Balanced,48.607362,Little,37,Mixed,...,37,Normal,Organised,47,Medium,58,Press,52,Normal,Cover
1441,1442,110749,8021,2012-02-22 00:00:00,33,Slow,48.607362,Little,38,Mixed,...,73,Lots,Organised,58,Medium,47,Press,52,Normal,Cover
1442,1443,110749,8021,2013-09-20 00:00:00,33,Slow,48.607362,Little,38,Mixed,...,48,Normal,Organised,58,Medium,47,Press,52,Normal,Cover
1443,1444,110749,8021,2014-09-19 00:00:00,33,Slow,49.000000,Normal,51,Mixed,...,48,Normal,Organised,58,Medium,38,Press,52,Normal,Cover
1444,1445,244,8394,2010-02-22 00:00:00,30,Slow,48.607362,Little,30,Short,...,70,Lots,Organised,40,Medium,30,Contain,45,Normal,Offside Trap
1445,1446,244,8394,2011-02-22 00:00:00,43,Balanced,48.607362,Little,40,Mixed,...,42,Normal,Organised,38,Medium,40,Press,53,Normal,Cover
1446,1447,244,8394,2012-02-22 00:00:00,34,Balanced,48.607362,Little,23,Short,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1447,1448,244,8394,2013-09-20 00:00:00,38,Balanced,48.607362,Little,23,Short,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1448,1449,244,8394,2014-09-19 00:00:00,38,Balanced,48.000000,Normal,35,Mixed,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1449,1450,244,8394,2015-09-10 00:00:00,52,Balanced,52.000000,Normal,50,Mixed,...,57,Normal,Organised,48,Medium,43,Press,49,Normal,Cover
1450,1451,112512,8027,2014-09-19 00:00:00,54,Balanced,51.000000,Normal,40,Mixed,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1451,1452,112512,8027,2015-09-10 00:00:00,54,Balanced,51.000000,Normal,40,Mixed,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1452,1453,15005,10000,2010-02-22 00:00:00,65,Balanced,48.607362,Little,60,Mixed,...,50,Normal,Organised,70,High,60,Press,70,Wide,Cover
1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,48.607362,Little,52,Mixed,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,48.607362,Little,51,Mixed,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,48.607362,Little,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.000000,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.000000,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

In [4]:
team_attributes.describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000
mean,729.500000,17706.982167,9995.727023,52.462277,48.607362,48.490398,52.165295,53.731824,53.969136,46.017147,49.251029,52.185871
std,421.032659,39179.857739,13264.869900,11.545869,5.601170,10.896101,10.360793,11.086796,10.327566,10.227225,9.738028,9.574712
min,1.000000,1.000000,1601.000000,20.000000,24.000000,20.000000,21.000000,20.000000,22.000000,23.000000,24.000000,29.000000
25%,365.250000,110.000000,8457.750000,45.000000,48.607362,40.000000,46.000000,47.000000,48.000000,39.000000,44.000000,47.000000
50%,729.500000,485.000000,8674.000000,52.000000,48.607362,50.000000,52.000000,53.000000,53.000000,45.000000,48.000000,52.000000
75%,1093.750000,1900.000000,9904.000000,62.000000,48.607362,55.000000,59.000000,62.000000,61.000000,51.000000,55.000000,58.000000
max,1458.000000,112513.000000,274581.000000,80.000000,77.000000,80.000000,80.000000,80.000000,80.000000,72.000000,72.000000,73.000000

In [5]:
countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [6]:
league

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [7]:
match.head(5)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [8]:
match.describe()[["home_player_X11"]]

       home_player_X11
count     24147.000000
mean          5.783244
std           0.759585
min           1.000000
25%           5.000000
50%           6.000000
75%           6.000000
max           7.000000

In [9]:
players.head(5)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [10]:
player_attributes.head(5)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [11]:
player_attributes.describe()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,183978.00000,183978.000000,183978.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,181265.000000,...,181265.000000,183142.000000,183142.000000,183142.000000,181265.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000
mean,91989.50000,165671.524291,135900.617324,68.600015,73.460353,55.086883,49.921078,57.266023,62.429672,49.468436,...,57.873550,55.003986,46.772242,50.351257,48.001462,14.704393,16.063612,20.998362,16.132154,16.441439
std,53110.01825,53851.094769,136927.840510,7.041139,6.592271,17.242135,19.038705,16.488905,14.194068,18.256618,...,15.144086,15.546519,21.227667,21.483706,21.598778,16.865467,15.867382,21.452980,16.099175,17.198155
min,1.00000,2.000000,2625.000000,33.000000,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,45995.25000,155798.000000,34763.000000,64.000000,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.000000
50%,91989.50000,183488.000000,77741.000000,69.000000,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.000000
75%,137983.75000,199848.000000,191080.000000,73.000000,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.000000
max,183978.00000,234141.000000,750584.000000,94.000000,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,...,97.000000,96.000000,96.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.000000

In [12]:
match_stat=match.copy()
match_stat=match_stat[["league_id","match_api_id", "home_team_api_id", "away_team_api_id", "home_team_goal", "away_team_goal"]]
match_stat.head(5)
match.loc[match["away_team_api_id"]==8634]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
21520,21521,21518,21518,2008/2009,1,2008-08-31 00:00:00,530086,8388,8634,1,...,1.57,7.00,3.75,1.45,6.50,3.75,1.53,5.50,3.75,1.53
21546,21547,21518,21518,2008/2009,11,2008-11-16 00:00:00,530252,8479,8634,0,...,1.36,8.00,5.00,1.33,8.50,4.50,1.36,8.00,4.50,1.33
21563,21564,21518,21518,2008/2009,13,2008-11-29 00:00:00,530329,8302,8634,0,...,2.20,3.25,3.40,2.10,3.25,3.25,2.15,2.88,3.30,2.25
21592,21593,21518,21518,2008/2009,16,2008-12-21 00:00:00,530358,10205,8634,1,...,1.80,4.35,3.50,1.70,4.00,3.50,1.85,4.00,3.60,1.83
21613,21614,21518,21518,2008/2009,18,2009-01-11 00:00:00,530379,8371,8634,2,...,1.40,7.50,4.60,1.40,7.00,4.00,1.45,7.00,4.00,1.44
21647,21648,21518,21518,2008/2009,21,2009-02-01 00:00:00,530463,8696,8634,1,...,1.60,6.50,3.75,1.45,6.50,3.60,1.57,6.00,3.60,1.57
21667,21668,21518,21518,2008/2009,23,2009-02-14 00:00:00,530483,8603,8634,2,...,1.50,6.00,3.75,1.53,6.50,3.60,1.53,6.00,3.75,1.57
21690,21691,21518,21518,2008/2009,25,2009-03-01 00:00:00,530547,9906,8634,4,...,1.83,3.75,3.40,1.91,3.75,3.30,1.95,4.00,3.50,1.91
21711,21712,21518,21518,2008/2009,27,2009-03-15 00:00:00,530568,9865,8634,0,...,1.62,5.00,3.60,1.65,5.75,3.75,1.60,5.00,3.75,1.67
21734,21735,21518,21518,2008/2009,29,2009-04-04 00:00:00,530591,10281,8634,0,...,1.50,7.00,3.75,1.45,6.00,4.00,1.50,6.50,3.75,1.50
21737,21738,21518,21518,2008/2009,3,2008-09-21 00:00:00,530103,9869,8634,1,...,1.53,7.50,3.75,1.45,7.00,3.60,1.53,6.00,3.60,1.53
21763,21764,21518,21518,2008/2009,31,2009-04-18 00:00:00,530610,8305,8634,0,...,1.44,6.50,4.00,1.45,7.00,4.33,1.40,7.00,4.20,1.44
21781,21782,21518,21518,2008/2009,33,2009-04-25 00:00:00,530628,10267,8634,2,...,1.83,3.60,3.40,1.90,4.00,3.50,1.85,4.00,3.40,1.83
21793,21794,21518,21518,2008/2009,34,2009-05-02 00:00:00,530640,8633,8634,2,...,2.50,2.50,3.20,2.63,2.60,3.25,2.60,2.50,3.40,2.62
21811,21812,21518,21518,2008/2009,36,2009-05-17 00:00:00,530658,8661,8634,2,...,1.67,5.50,3.50,1.62,5.50,3.70,1.60,5.25,3.75,1.62
21833,21834,21518,21518,2008/2009,38,2009-05-30 00:00:00,530681,9783,8634,1,...,3.33,2.00,3.40,3.20,2.10,3.50,3.10,2.15,3.50,3.00
21852,21853,21518,21518,2008/2009,5,2008-09-27 00:00:00,530128,8558,8634,1,...,1.91,4.50,3.50,1.85,4.00,3.25,1.90,4.00,3.40,1.83
21874,21875,21518,21518,2008/2009,7,2008-10-19 00:00:00,530210,8315,8634,0,...,1.62,5.50,3.75,1.55,5.50,3.50,1.60,6.00,3.75,1.53
21888,21889,21518,21518,2008/2009,9,2008-11-01 00:00:00,530224,9864,8634,1,...,1.36,8.00,4.20,1.40,8.50,4.00,1.40,7.50,3.75,1.44
21923,21924,21518,21518,2009/2010,11,2009-11-21 00:00:00,684756,8315,8634,1,...,1.50,6.50,4.33,1.44,5.75,4.00,1.53,6.00,4.00,1.50
21942,21943,21518,21518,2009/2010,13,2009-12-05 00:00:00,684775,9783,8634,1,...,1.60,5.50,3.50,1.62,5.00,3.75,1.65,5.00,3.75,1.67
21961,21962,21518,21518,2009/2010,15,2009-12-02 00:00:00,684797,9868,8634,0,...,1.22,12.00,5.50,1.22,11.00,5.50,1.25,11.00,5.00,1.25
21980,21981,21518,21518,2009/2010,17,2010-01-10 00:00:00,684836,9867,8634,0,...,1.40,8.00,4.50,1.36,7.00,4.50,1.40,7.00,4.33,1.40
21999,22000,21518,21518,2009/2010,19,2010-01-23 00:00:00,684873,10281,8634,0,...,1.29,12.00,5.00,1.25,9.00,5.00,1.30,10.00,5.00,1.29
22015,22016,21518,21518,2009/2010,2,2009-09-12 00:00:00,684605,8305,8634,0,...,1.44,6.50,3.80,1.44,6.75,4.00,1.47,6.50,3.75,1.50
22024,22025,21518,21518,2009/2010,20,2010-01-30 00:00:00,684899,9869,8634,0,...,1.22,13.00,5.50,1.22,13.00,5.50,1.22,12.00,5.50,1.25
22045,22046,21518,21518,2009/2010,22,2010-02-14 00:00:00,684936,9906,8634,2,...,1.67,4.75,3.75,1.67,4.75,3.75,1.67,4.33,3.75,1.73
22076,22077,21518,21518,2009/2010,25,2010-03-06 00:00:00,685007,9865,8634,2,...,1.30,11.00,5.50,1.25,11.00,5.00,1.27,9.00,5.25,1.30
22095,22096,21518,21518,2009/2010,27,2010-03-21 00:00:00,685042,8394,8634,2,...,1.30,11.00,4.75,1.29,9.00,5.00,1.30,10.00,5.25,1.30
22114,22115,21518,21518,2009/2010,29,2010-03-27 00:00:00,685075,8661,8634,0,...,1.50,7.00,4.00,1.44,6.50,4.00,1.50,6.00,3.80,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23976,23977,21518,21518,2014/2015,25,2015-02-28 00:00:00,1778283,7878,8634,1,...,NaN,23.00,8.00,1.17,NaN,NaN,NaN,NaN,NaN,NaN
23995,23996,21518,21518,2014/2015,27,2015-03-14 00:00:00,1778302,8372,8634,0,...,NaN,26.00,8.50,1.15,NaN,NaN,NaN,NaN,NaN,NaN
24014,24015,21518,21518,2014/2015,29,2015-04-05 00:00:00,1778321,9910,8634,0,...,NaN,8.00,5.00,1.44,NaN,NaN,NaN,NaN,NaN,NaN
24043,24044,21518,21518,2014/2015,31,2015-04-11 00:00:00,1778340,8302,8634,2,...,NaN,5.00,4.60,1.65,NaN,NaN,NaN,NaN,NaN,NaN
24062,24063,21518,21518,2014/2015,33,2015-04-25 00:00:00,1778359,8558,8634,0,...,NaN,12.00,6.50,1.25,NaN,NaN,NaN,NaN,NaN,NaN
24081,24082,21518,21518,2014/2015,35,2015-05-02 00:00:00,1778378,7869,8634,0,...,NaN,36.00,13.00,1.08,NaN,NaN,NaN,NaN,NaN,NaN
24100,24101,21518,21518,2014/2015,37,2015-05-17 00:00:00,1778397,9906,8634,0,...,NaN,4.80,3.90,1.80,NaN,NaN,NaN,NaN,NaN,NaN
24126,24127,21518,21518,2014/2015,4,2014-09-21 00:00:00,1778073,8581,8634,0,...,NaN,17.00,7.50,1.20,NaN,NaN,NaN,NaN,NaN,NaN
24136,24137,21518,21518,2014/2015,5,2014-09-24 00:00:00,1778083,9864,8634,0,...,NaN,9.00,5.25,1.36,NaN,NaN,NaN,NaN,NaN,NaN
24155,24156,21518,21518,2014/2015,7,2014-10-04 00:00:00,1778102,8370,8634,0,...,NaN,11.50,6.50,1.29,NaN,NaN,NaN,NaN,NaN,NaN
24174,24175,21518,21518,2014/2015,9,2014-10-25 00:00:00,1778121,8633,8634,3,...,NaN,2.38,3.80,2.90,NaN,NaN,NaN,NaN,NaN,NaN
24180,24181,21518,21518,2015/2016,1,2015-08-23 00:00:00,2030085,8315,8634,0,...,NaN,6.50,4.60,1.53,NaN,NaN,NaN,NaN,NaN,NaN
24188,24189,21518,21518,2015/2016,10,2015-10-31 00:00:00,2030173,8305,8634,0,...,NaN,11.00,6.00,1.30,NaN,NaN,NaN,NaN,NaN,NaN
24209,24210,21518,21518,2015/2016,12,2015-11-21 00:00:00,2030194,8633,8634,0,...,NaN,2.45,3.75,2.80,NaN,NaN,NaN,NaN,NaN,NaN
24230,24231,21518,21518,2015/2016,14,2015-12-05 00:00:00,2030216,10267,8634,1,...,NaN,10.00,5.50,1.33,NaN,NaN,NaN,NaN,NaN,NaN
24251,24252,21518,21518,2015/2016,16,2016-02-17 00:00:00,2030237,9869,8634,1,...,NaN,21.00,9.00,1.14,NaN,NaN,NaN,NaN,NaN,NaN
24272,24273,21518,21518,2015/2016,18,2016-01-02 00:00:00,2030258,8558,8634,0,...,NaN,19.00,7.50,1.18,NaN,NaN,NaN,NaN,NaN,NaN
24310,24311,21518,21518,2015/2016,21,2016-01-23 00:00:00,2030361,9864,8634,1,...,NaN,9.00,5.50,1.36,NaN,NaN,NaN,NaN,NaN,NaN
24329,24330,21518,21518,2015/2016,23,2016-02-07 00:00:00,2030380,8581,8634,0,...,NaN,19.00,8.00,1.17,NaN,NaN,NaN,NaN,NaN,NaN
24348,24349,21518,21518,2015/2016,25,2016-02-20 00:00:00,2030399,8306,8634,1,...,NaN,15.00,7.50,1.20,NaN,NaN,NaN,NaN,NaN,NaN
24367,24368,21518,21518,2015/2016,27,2016-03-03 00:00:00,2030418,8370,8634,1,...,NaN,13.00,8.00,1.20,NaN,NaN,NaN,NaN,NaN,NaN
24377,24378,21518,21518,2015/2016,28,2016-03-06 00:00:00,2030428,8372,8634,0,...,NaN,12.00,6.50,1.25,NaN,NaN,NaN,NaN,NaN,NaN
24399,24400,21518,21518,2015/2016,3,2015-09-12 00:00:00,2030104,9906,8634,1,...,NaN,3.30,3.50,2.30,NaN,NaN,NaN,NaN,NaN,NaN
24408,24409,21518,21518,2015/2016,30,2016-03-20 00:00:00,2030449,10205,8634,2,...,NaN,10.00,5.50,1.33,NaN,NaN,NaN,NaN,NaN,NaN
24429,24430,21518,21518,2015/2016,32,2016-04-09 00:00:00,2030470,8560,8634,1,...,NaN,6.50,4.40,1.53,NaN,NaN,NaN,NaN,NaN,NaN
24450,24451,21518,21518,2015/2016,34,2016-04-20 00:00:00,2030491,9783,8634,0,...,NaN,15.00,7.50,1.20,NaN,NaN,NaN,NaN,NaN,NaN
24471,24472,21518,21518,2015/2016,36,2016-04-30 00:00:00,2030512,8603,8634,0,...,NaN,23.00,11.00,1.12,NaN,NaN,NaN,NaN,NaN,NaN
24492,24493,21518,21518,2015/2016,38,2016-05-14 00:00:00,2030533,7878,8634,0,...,NaN,31.00,13.00,1.08,NaN,NaN,NaN,NaN,NaN,NaN
24508,24509,21518,21518,2015/2016,5,2015-09-23 00:00:00,2030123,9910,8634,4,...,NaN,6.00,4.80,1.53,NaN,NaN,NaN,NaN,NaN,NaN
24527,24528,21518,21518,2015/2016,7,2015-10-03 00:00:00,2030142,8302,8634,2,...,NaN,4.10,3.90,1.91,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
team_match_stat=teams.copy()
home_stat = match_stat.groupby("home_team_api_id").mean()[["league_id", "home_team_goal"]].reset_index()
away_stat = match_stat.groupby("away_team_api_id").mean()[[ "away_team_goal"]].reset_index()

team_match_stat = team_match_stat.merge(home_stat, left_on="team_api_id", right_on="home_team_api_id")
team_match_stat = team_match_stat.merge(away_stat, left_on="team_api_id", right_on="away_team_api_id")
team_match_stat = team_match_stat.drop("home_team_api_id",1)
team_match_stat = team_match_stat.drop("away_team_api_id",1)
team_match_stat.head(5)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,league_id,home_team_goal,away_team_goal
0,1,9987,673.0,KRC Genk,GEN,1.0,1.933962,1.349057
1,2,9993,675.0,Beerschot AC,BAC,1.0,1.473684,0.815789
2,3,10000,15005.0,SV Zulte-Waregem,ZUL,1.0,1.660377,1.226415
3,4,9994,2007.0,Sporting Lokeren,LOK,1.0,1.405660,1.226415
4,5,9984,1750.0,KSV Cercle Brugge,CEB,1.0,1.307692,1.032967

In [14]:
home = team_match_stat["home_team_goal"].values
away = team_match_stat["away_team_goal"].values
goal_rate = (home+away)/2

team_match_stat["goal_rate"]=pd.Series(goal_rate)
team_match_stat.head(5)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,league_id,home_team_goal,away_team_goal,goal_rate
0,1,9987,673.0,KRC Genk,GEN,1.0,1.933962,1.349057,1.641509
1,2,9993,675.0,Beerschot AC,BAC,1.0,1.473684,0.815789,1.144737
2,3,10000,15005.0,SV Zulte-Waregem,ZUL,1.0,1.660377,1.226415,1.443396
3,4,9994,2007.0,Sporting Lokeren,LOK,1.0,1.405660,1.226415,1.316038
4,5,9984,1750.0,KSV Cercle Brugge,CEB,1.0,1.307692,1.032967,1.170330

In [15]:
team_match_stat = team_match_stat.sort_values(["goal_rate"], ascending=[0])
team_match_stat.loc[team_match_stat["league_id"]==4769].head(5)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,league_id,home_team_goal,away_team_goal,goal_rate
70,9548,9847,73.0,Paris Saint-Germain,PSG,4769.0,2.184211,1.552632,1.868421
67,9545,9748,66.0,Olympique Lyonnais,LYO,4769.0,1.901316,1.368421,1.634868
74,9552,8592,219.0,Olympique de Marseille,MAR,4769.0,1.671053,1.368421,1.519737
72,9550,8639,65.0,LOSC Lille,LIL,4769.0,1.776316,1.184211,1.480263
61,9539,9827,59.0,Girondins de Bordeaux,BOR,4769.0,1.500000,1.157895,1.328947

In [16]:
team_attributes.loc[team_attributes["team_api_id"]==9931].describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,6.000000,6.0,6.0,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,133.500000,896.0,9931.0,55.000000,53.404908,44.833333,60.833333,63.833333,52.500000,47.666667,57.500000,54.500000
std,1.870829,0.0,0.0,9.486833,7.432326,2.401388,8.010410,4.833908,2.345208,7.033254,2.345208,2.810694
min,131.000000,896.0,9931.0,40.000000,48.607362,40.000000,50.000000,54.000000,49.000000,38.000000,53.000000,53.000000
25%,132.250000,896.0,9931.0,49.750000,48.607362,45.250000,54.750000,65.250000,51.000000,47.000000,58.000000,53.000000
50%,133.500000,896.0,9931.0,61.000000,48.607362,46.000000,66.000000,66.000000,54.000000,47.000000,58.000000,53.000000
75%,134.750000,896.0,9931.0,61.000000,59.401840,46.000000,66.000000,66.000000,54.000000,47.000000,58.000000,54.500000
max,136.000000,896.0,9931.0,61.000000,63.000000,46.000000,66.000000,66.000000,54.000000,60.000000,60.000000,60.000000

In [17]:
match_stat=match.copy()
match_stat=match_stat.loc[match_stat["date"]>="2015"]


def getsetplayers(matchSet):

    liste=[]
    
    ateam=team_attributes.loc[team_attributes["team_api_id"]==matchSet["away_team_api_id"]].loc[team_attributes["date"]<=matchSet["date"]].mean()
    hteam=team_attributes.loc[team_attributes["team_api_id"]==matchSet["home_team_api_id"]].loc[team_attributes["date"]<=matchSet["date"]].mean()
    
    if(ateam.isnull().any().any() or hteam.isnull().any().any()):
        return False

    liste.append(matchSet["home_player_X1"])
    liste.append(matchSet["home_player_Y1"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_1"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X2"])
    liste.append(matchSet["home_player_Y2"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_2"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X3"])
    liste.append(matchSet["home_player_Y3"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_3"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X4"])
    liste.append(matchSet["home_player_Y4"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_4"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X5"])
    liste.append(matchSet["home_player_Y5"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_5"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X6"])
    liste.append(matchSet["home_player_Y6"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_6"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X7"])
    liste.append(matchSet["home_player_Y7"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_7"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X8"])
    liste.append(matchSet["home_player_Y8"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_8"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X9"])
    liste.append(matchSet["home_player_Y9"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_9"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X10"])
    liste.append(matchSet["home_player_Y10"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_10"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["home_player_X11"])
    liste.append(matchSet["home_player_Y11"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["home_player_11"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    #liste_home.append(team_match_stat.loc[team_match_stat["team_api_id"]==matchSet["home_team_api_id"]].mean().loc["home_team_goal"])
    liste.append(hteam.loc["buildUpPlaySpeed"])
    liste.append(hteam.loc["buildUpPlayDribbling"])
    liste.append(hteam.loc["buildUpPlayPassing"])
    liste.append(hteam.loc["chanceCreationPassing"])
    liste.append(hteam.loc["chanceCreationCrossing"])
    liste.append(hteam.loc["chanceCreationShooting"])
    liste.append(hteam.loc["defencePressure"])
    liste.append(hteam.loc["defenceAggression"])
    liste.append(hteam.loc["defenceTeamWidth"])
    

    
    liste.append(matchSet["away_player_X1"])
    liste.append(matchSet["away_player_Y1"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_1"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X2"])
    liste.append(matchSet["away_player_Y2"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_2"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X3"])
    liste.append(matchSet["away_player_Y3"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_3"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X4"])
    liste.append(matchSet["away_player_Y4"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_4"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X5"])
    liste.append(matchSet["away_player_Y5"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_5"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X6"])
    liste.append(matchSet["away_player_Y6"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_6"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X7"])
    liste.append(matchSet["away_player_Y7"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_7"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X8"])
    liste.append(matchSet["away_player_Y8"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_8"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X9"])
    liste.append(matchSet["away_player_Y9"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_9"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X10"])
    liste.append(matchSet["away_player_Y10"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_10"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    liste.append(matchSet["away_player_X11"])
    liste.append(matchSet["away_player_Y11"])
    player=player_attributes.loc[player_attributes["player_api_id"]==matchSet["away_player_11"]].loc[player_attributes["date"]<=matchSet["date"]].mean()
    liste.append(player.loc["overall_rating"])
    liste.append(player.loc["potential"])
    
    #liste_away.append(team_match_stat.loc[team_match_stat["team_api_id"]==matchSet["away_team_api_id"]].mean().loc["away_team_goal"])
    liste.append(ateam.loc["buildUpPlaySpeed"])
    liste.append(ateam.loc["buildUpPlayDribbling"])
    liste.append(ateam.loc["buildUpPlayPassing"])
    liste.append(ateam.loc["chanceCreationPassing"])
    liste.append(ateam.loc["chanceCreationCrossing"])
    liste.append(ateam.loc["chanceCreationShooting"])
    liste.append(ateam.loc["defencePressure"])
    liste.append(ateam.loc["defenceAggression"])
    liste.append(ateam.loc["defenceTeamWidth"])
    
        
    return liste

In [18]:
def getset(matchSet):
    
    liste=[]
    
    ateam=team_attributes.loc[team_attributes["team_api_id"]==matchSet["away_team_api_id"]].loc[team_attributes["date"]<=matchSet["date"]].max()
    hteam=team_attributes.loc[team_attributes["team_api_id"]==matchSet["home_team_api_id"]].loc[team_attributes["date"]<=matchSet["date"]].max()
    
    if(ateam.isnull().any().any() or hteam.isnull().any().any()):
        return False

    
    liste.append(hteam.loc["buildUpPlaySpeed"])
    liste.append(hteam.loc["buildUpPlayDribbling"])
    liste.append(hteam.loc["buildUpPlayPassing"])
    liste.append(hteam.loc["chanceCreationPassing"])
    liste.append(hteam.loc["chanceCreationCrossing"])
    liste.append(hteam.loc["chanceCreationShooting"])
    liste.append(hteam.loc["defencePressure"])
    liste.append(hteam.loc["defenceAggression"])
    liste.append(hteam.loc["defenceTeamWidth"])
    

    
    liste.append(ateam.loc["buildUpPlaySpeed"])
    liste.append(ateam.loc["buildUpPlayDribbling"])
    liste.append(ateam.loc["buildUpPlayPassing"])
    liste.append(ateam.loc["chanceCreationPassing"])
    liste.append(ateam.loc["chanceCreationCrossing"])
    liste.append(ateam.loc["chanceCreationShooting"])
    liste.append(ateam.loc["defencePressure"])
    liste.append(ateam.loc["defenceAggression"])
    liste.append(ateam.loc["defenceTeamWidth"])
    
    return liste

In [19]:
def add_row(matchSet, labeledset):
    
    if(matchSet["home_team_goal"]==matchSet["away_team_goal"]):
        return False
    
    if(getset(matchSet)==False):
        return False
    
    liste = getset(matchSet)
    
    if(matchSet["home_team_goal"]>matchSet["away_team_goal"]):
        labeledset.addExample(liste,1)
    else:
        labeledset.addExample(liste,-1)
        
    return True

les données à entrer dans un labeledset

In [20]:
def matchToLabeledset(nb_data ,match):
    
    k=0
    train=LabeledSet(18)
    test=LabeledSet(18)
    
    for i in match.index:
        if(k>nb_data*2):
            break
        if(k%2==0):
            if(add_row(match.loc[i], train)):
                k+=1
        else:
            if(add_row(match.loc[i], test)):
                k+=1
        print(k)
    
    return train, test

In [21]:
matchSet=match_stat.loc[1543]
team_match_stat.loc[team_match_stat["team_api_id"]==matchSet["away_team_api_id"]].mean().loc["away_team_goal"]

1.0219780219780219

## Partie 3 - Code

In [22]:
from perceptron import LabeledSet
from perceptron import Classifier

matchset_train, matchset_test = matchToLabeledset(500, match_stat)

0
0
1
2
3
3
3
3
4
5
5
6
7
7
8
8
9
10
10
11
11
11
12
13
13
13
14
15
16
17
18
18
19
19
19
19
19
19
20
21
22
23
24
25
26
26
27
28
28
28
29
30
31
32
33
34
35
36
37
38
39
39
40
41
42
42
43
44
45
46
47
47
47
48
49
50
51
52
52
53
53
53
54
55
56
57
57
57
58
59
60
61
62
63
64
65
66
67
67
68
69
70
71
72
73
74
75
76
77
77
78
78
79
80
81
82
82
82
83
84
85
86
87
88
89
89
89
90
90
91
91
92
93
94
94
95
96
97
98
99
100
101
102
103
104
105
105
105
106
107
108
109
109
109
110
110
111
112
113
113
114
115
116
117
118
118
118
119
120
121
122
123
124
125
125
126
127
128
129
130
131
132
133
134
134
135
136
137
137
138
138
139
140
141
142
142
142
142
143
144
145
146
147
148
148
149
150
151
152
153
154
154
155
156
157
157
157
158
159
160
161
161
161
162
163
164
165
166
167
168
168
169
170
170
171
172
173
174
175
175
176
177
178
178
179
180
181
182
182
182
182
183
183
183
183
183
184
185
186
187
188
188
189
190
190
191
191
192
193
194
195
196
197
198
199
200
201
201
201
201
202
203
204
204
205
206
206
207
208
208
209
209
209
210
210
211
211
212
213
214
215
216
216
217
218
219
219
220
221
221
222
223
224
224
225
225
226
226
226
227
227
228
228
229
230
231
232
232
233
234
235
235
236
237
238
238
239
240
241
242
243
244
245
246
246
247
248
249
250
251
252
253
254
255
255
255
256
256
256
257
257
258
258
259
260
261
261
261
262
263
264
265
266
267
267
268
268
269
270
271
271
272
272
273
274
275
276
277
278
279
280
281
282
283
283
284
285
286
287
288
289
290
291
292
293
293
294
295
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
324
325
326
326
326
326
327
328
329
330
331
332
333
334
334
335
336
337
338
339
339
339
339
339
340
341
342
343
344
345
346
347
348
349
350
351
351
352
353
354
355
356
356
357
357
358
358
359
360
360
361
362
363
364
365
366
367
368
369
369
370
371
372
373
374
375
375
375
376
377
377
378
379
380
381
382
383
384
384
384
385
386
387
388
389
389
390
391
391
392
393
394
395
396
396
396
397
398
399
400
401
402
403
403
404
405
406
407
408
409
409
410
411
412
413
413
414
414
415
416
416
417
417
417
418
419
419
419
420
420
421
422
423
423
424
425
426
427
427
428
428
429
430
430
431
432
433
434
434
435
436
436
437
438
438
438
438
439
440
441
442
443
444
445
446
446
447
447
447
448
449
450
451
452
453
454
455
456
457
458
459
459
459
460
461
462
462
462
463
464
465
466
467
468
469
470
471
471
471
471
471
472
473
474
474
475
475
476
477
478
479
479
480
481
482
483
484
485
486
487
487
488
488
488
488
489
490
491
491
492
493
494
494
495
496
497
497
497
498
499
500
501
501
502
503
504
505
506
507
508
509
509
510
511
512
513
514
514
515
516
517
517
518
519
520
521
522
522
523
523
524
525
526
527
527
528
529
530
531
531
532
532
533
534
534
535
536
536
536
536
536
536
537
538
539
540
541
542
542
543
543
544
545
546
546
547
548
549
549
550
551
552
553
554
555
556
557
558
558
559
560
560
560
560
561
562
563
564
565
566
567
568
568
568
568
569
570
570
570
571
572
573
574
575
576
577
577
578
578
579
580
580
580
581
582
582
583
583
584
585
585
586
587
588
588
588
589
590
591
591
592
593
594
595
596
596
597
598
599
600
601
601
601
601
601
601
602
603
604
605
606
607
608
608
609
610
611
612
613
614
615
616
616
617
618
619
620
620
621
622
623
623
623
624
625
626
627
627
628
629
630
631
632
632
633
634
634
635
636
636
637
638
638
638
639
640
641
642
643
643
644
644
645
646
647
648
648
649
650
651
651
652
652
653
654
655
656
657
658
659
660
661
662
662
662
662
663
664
665
666
667
668
668
669
670
670
671
671
671
672
672
672
672
673
674
675
676
677
678
678
679
679
680
680
680
681
682
682
682
682
683
683
684
684
685
686
687
688
689
690
691
692
692
692
692
692
693
694
695
696
697
697
698
699
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
713
714
715
716
717
718
718
718
719
720
721
722
723
723
724
725
726
727
728
729
730
731
731
732
733
733
734
735
736
736
737
738
739
740
741
742
743
743
744
745
745
746
746
747
748
749
749
750
751
752
753
754
755
756
757
757
758
759
760
760
761
762
763
763
764
764
765
766
767
768
769
770
771
772
773
774
774
775
776
777
777
778
779
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
794
795
796
797
798
799
799
800
800
800
800
800
801
802
803
804
805
805
806
807
808
809
809
810
811
812
813
814
815
815
816
817
817
818
819
819
820
821
822
823
823
824
825
826
827
828
829
830
830
831
832
833
834
835
835
836
836
837
838
838
839
839
839
840
840
841
842
842
843
844
845
845
845
846
846
847
848
849
850
851
851
852
852
853
853
853
854
854
855
855
856
857
857
858
858
858
858
859
859
860
861
862
862
863
864
864
864
864
865
866
866
866
867
868
869
869
869
870
870
871
871
872
872
873
874
875
875
876
876
877
878
879
879
880
881
882
883
884
885
885
886
887
888
888
889
889
890
891
892
893
894
895
896
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
912
912
912
913
914
915
915
916
916
917
918
919
919
920
920
921
922
923
924
924
925
926
926
927
927
928
928
929
929
930
930
930
931
932
933
934
935
935
935
936
937
937
938
938
938
938
939
940
941
941
942
943
944
945
946
947
947
947
948
949
949
950
951
952
953
953
954
955
956
956
957
958
959
960
961
962
963
964
964
965
966
967
968
969
970
971
972
972
973
974
975
976
977
977
978
979
980
981
982
983
983
984
985
985
986
987
988
989
989
989
990
990
991
992
992
992
993
994
995
995
996
997
998
999
1000
1000
1001

In [23]:
from perceptron import Perceptron

percepmatch=Perceptron(18,0.03,1000)
percepmatch.train(matchset_train)  
percepmatch.accuracy(matchset_test)

0.588

In [24]:
from perceptron import KNN

knnmatch=KNN(18,5)
knnmatch.train(matchset_train)  
knnmatch.accuracy(matchset_test)

0.6

In [25]:
from perceptron import ClassifierBaggingPerceptron

bagPerc = ClassifierBaggingPerceptron(18, 30, 0.2, True)
bagPerc.train(matchset_train)
print("Accuracy Out of Bags: ",1.0-bagPerc.outOfBagsError())
print("Accuracy: ",bagPerc.accuracy(matchset_test))

C:\Users\togos\Anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py:106: MatplotlibDeprecationWarning: Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance.
  warnings.warn(message, mplDeprecation, stacklevel=1)

Accuracy Out of Bags:  1.0
Accuracy:  0.6

In [27]:
from perceptron import ClassifierBaggingKNN

bagKnn = ClassifierBaggingKNN(18, 30, 0.2, True)
bagKnn.train(matchset_train)
print("Accuracy Out of Bags: ",1.0-bagKnn.outOfBagsError())
print("Accuracy: ",bagKnn.accuracy(matchset_test))

Accuracy Out of Bags:  1.0
Accuracy:  0.622

In [28]:
from perceptron import ClassifierMatch

match_stat_bca=match_stat.loc[match_stat["away_team_api_id"]==9847]

classMatch = ClassifierMatch(18, 0.1)
classMatch.train(matchset_train)

for i in match_stat_bca.index:
    match_i=match_stat_bca.loc[i]
    dataset = getset(match_i)
    vote, message = classMatch.predict(dataset, match_i["home_team_api_id"], match_i["away_team_api_id"])
    print("home: ", match_i["home_team_goal"], " away: ",match_i["away_team_goal"])
    print(message)

C:\Users\togos\Anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py:106: MatplotlibDeprecationWarning: Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance.
  warnings.warn(message, mplDeprecation, stacklevel=1)

home:  4  away:  2
Draw !
home:  0  away:  1
9847 win with 0.6666666666666667 of chance !
home:  1  away:  1
9847 win with 0.6666666666666666 of chance !
home:  0  away:  0
9829 win with 0.7 of chance !
home:  3  away:  2
9847 win with 0.7333333333333334 of chance !
home:  2  away:  3
9847 win with 0.6833333333333333 of chance !
home:  1  away:  3
9831 win with 0.6666666666666667 of chance !
home:  0  away:  2
9847 win with 0.6666666666666667 of chance !
home:  1  away:  2
Draw !
home:  0  away:  1
Draw !
home:  0  away:  2
7794 win with 0.6166666666666667 of chance !
home:  0  away:  1
9847 win with 0.6833333333333333 of chance !
home:  1  away:  2
9847 win with 0.65 of chance !
home:  0  away:  0
Draw !
home:  0  away:  3
9831 win with 0.6666666666666667 of chance !
home:  0  away:  3
Draw !
home:  0  away:  1
9847 win with 0.65 of chance !
home:  0  away:  2
Draw !
home:  1  away:  2
Draw !
home:  2  away:  1
9847 win with 0.6666666666666666 of chance !
home:  0  away:  1
Draw !
home:  0  away:  9
9847 win with 0.7 of chance !
home:  0  away:  2
9847 win with 0.65 of chance !
home:  1  away:  1
9847 win with 0.7333333333333334 of chance !
home:  0  away:  4
Draw !
home:  0  away:  3
9829 win with 0.7 of chance !
home:  1  away:  1
9847 win with 0.7166666666666667 of chance !
home:  1  away:  4
Draw !

## Partie 4 - Protocole expérimental

## Partie 5 - Résultats

## Partie 6 - Analyse