**Indiquer dans la boîte ci-dessous vos noms et prénoms**

Dousble-cliquer ici et remplacer par les noms et prénoms de votre binôme

# 3I026 - Intelligence artificielle & Data science

# Projet

## Données

Vous devez travailler sur les données du projet Kaggle *European Soccer Database* accessible à l'adresse https://www.kaggle.com/hugomathien/soccer.

Les données en version SQLite sur la page http://www-connex.lip6.fr/~schwander/3I026/soccer.zip ou en version CSV http://www-connex.lip6.fr/~denoyer/wordpress/wp-content/uploads/2018/01/soccer.tar.gz. Pour facilter le travail dans les salles de la PPTI (et éviter de dépasser le quota de votre home), les données sont accessibles aussi dans `/Vrac/3I026/soccer/`.

Quel que soit le moyen pour récupérer le fichier de données, il est indispensable de lire en détail la page Kaggle pour comprendre à quoi ces données correspondent.

**Rappel:** il est attendu un notebook Python par problème, et le problème étudié doit être décrit précisément. Votre rapport devra impérativement suivre le format suivant.

## Partie 1 - Description du problème

Reflexion sur le choix d'analyse des données fifa:

-Apprentissage statistique sur les données des matchs de chaque équipe pour déterminer un ratio de victoire/defaite

-Confronter les données des attributs des équipes entre elles pour déterminer la gagant d'un match potientiel

-Determiner les qualités d'une équipe qui gagne avec les données des matchs et les données dominantes des attributs des équipes

-Regrouper les équipes par qualités prédominante en apprentissage non supervisée à l'aide de cluster

-Determiner un lien entre la cote des équipes aux paris sportifs et leurs victoires

## Partie 2 - Modèle

In [1]:
import sqlite3
import pandas as pd
import numpy as np

conn = sqlite3.connect("database.sqlite")
conn.row_factory = sqlite3.Row

c = conn.cursor()

teams = pd.read_sql_query("Select * from Team", conn)
team_attributes = pd.read_sql_query("Select * from Team_Attributes", conn)
countries = pd.read_sql_query("Select * from Country", conn)
league = pd.read_sql_query("Select * from League", conn)
match = pd.read_sql_query("Select * from Match", conn)
players = pd.read_sql_query("Select * from Player", conn)
player_attributes = pd.read_sql_query("Select * from Player_attributes", conn)

conn.close()

In [2]:
teams.head(5)

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [3]:
team_attributes.head(5)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [4]:
team_attributes.describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,1458.000000,1458.000000,1458.000000,1458.000000,489.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000
mean,729.500000,17706.982167,9995.727023,52.462277,48.607362,48.490398,52.165295,53.731824,53.969136,46.017147,49.251029,52.185871
std,421.032659,39179.857739,13264.869900,11.545869,9.678290,10.896101,10.360793,11.086796,10.327566,10.227225,9.738028,9.574712
min,1.000000,1.000000,1601.000000,20.000000,24.000000,20.000000,21.000000,20.000000,22.000000,23.000000,24.000000,29.000000
25%,365.250000,110.000000,8457.750000,45.000000,42.000000,40.000000,46.000000,47.000000,48.000000,39.000000,44.000000,47.000000
50%,729.500000,485.000000,8674.000000,52.000000,49.000000,50.000000,52.000000,53.000000,53.000000,45.000000,48.000000,52.000000
75%,1093.750000,1900.000000,9904.000000,62.000000,55.000000,55.000000,59.000000,62.000000,61.000000,51.000000,55.000000,58.000000
max,1458.000000,112513.000000,274581.000000,80.000000,77.000000,80.000000,80.000000,80.000000,80.000000,72.000000,72.000000,73.000000

In [5]:
countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [6]:
league

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [7]:
match.head(5)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [8]:
match.describe()

,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
count,25979.000000,25979.000000,25979.000000,25979.000000,2.597900e+04,25979.000000,25979.000000,25979.000000,25979.000000,24158.000000,...,17097.000000,22568.000000,22568.000000,22568.000000,14162.000000,14162.000000,14162.000000,14161.000000,14161.000000,14161.000000
mean,12990.000000,11738.630317,11738.630317,18.242773,1.195429e+06,9984.371993,9984.475115,1.544594,1.160938,0.999586,...,4.622343,2.668107,3.899048,4.840281,2.498764,3.648189,4.353097,2.497894,3.660742,4.405663
std,7499.635658,7553.936759,7553.936759,10.407354,4.946279e+05,14087.453758,14087.445135,1.297158,1.142110,0.022284,...,3.632164,1.928753,1.248221,4.318338,1.489299,0.867440,3.010189,1.507793,0.868272,3.189814
min,1.000000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,0.000000,0.000000,...,1.100000,1.030000,1.620000,1.080000,1.050000,1.450000,1.120000,1.040000,1.330000,1.120000
25%,6495.500000,4769.000000,4769.000000,9.000000,7.684365e+05,8475.000000,8475.000000,1.000000,0.000000,1.000000,...,2.500000,1.700000,3.300000,2.550000,1.670000,3.200000,2.500000,1.670000,3.250000,2.500000
50%,12990.000000,10257.000000,10257.000000,18.000000,1.147511e+06,8697.000000,8697.000000,1.000000,1.000000,1.000000,...,3.500000,2.150000,3.500000,3.500000,2.100000,3.300000,3.400000,2.100000,3.400000,3.400000
75%,19484.500000,17642.000000,17642.000000,27.000000,1.709852e+06,9925.000000,9925.000000,2.000000,2.000000,1.000000,...,5.250000,2.800000,4.000000,5.400000,2.650000,3.750000,5.000000,2.620000,3.750000,5.000000
max,25979.000000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,9.000000,2.000000,...,41.000000,36.000000,26.000000,67.000000,21.000000,11.000000,34.000000,17.000000,13.000000,34.000000

In [9]:
players.head(5)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [10]:
player_attributes.head(5)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [11]:
player_attributes.describe()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,183978.00000,183978.000000,183978.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,181265.000000,...,181265.000000,183142.000000,183142.000000,183142.000000,181265.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000
mean,91989.50000,165671.524291,135900.617324,68.600015,73.460353,55.086883,49.921078,57.266023,62.429672,49.468436,...,57.873550,55.003986,46.772242,50.351257,48.001462,14.704393,16.063612,20.998362,16.132154,16.441439
std,53110.01825,53851.094769,136927.840510,7.041139,6.592271,17.242135,19.038705,16.488905,14.194068,18.256618,...,15.144086,15.546519,21.227667,21.483706,21.598778,16.865467,15.867382,21.452980,16.099175,17.198155
min,1.00000,2.000000,2625.000000,33.000000,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,45995.25000,155798.000000,34763.000000,64.000000,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.000000
50%,91989.50000,183488.000000,77741.000000,69.000000,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.000000
75%,137983.75000,199848.000000,191080.000000,73.000000,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.000000
max,183978.00000,234141.000000,750584.000000,94.000000,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,...,97.000000,96.000000,96.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.000000

In [12]:
match_stat=match.copy()
match_stat=match_stat[["match_api_id", "home_team_api_id", "away_team_api_id", "home_team_goal", "away_team_goal"]]
match_stat.head(5)

,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,492473,9987,9993,1,1
1,492474,10000,9994,0,0
2,492475,9984,8635,0,3
3,492476,9991,9998,5,0
4,492477,7947,9985,1,3

In [13]:
team_match_stat=teams.copy()
home_stat = match_stat.groupby("home_team_api_id").mean()[[ "home_team_goal"]].reset_index()
away_stat = match_stat.groupby("away_team_api_id").mean()[[ "away_team_goal"]].reset_index()

team_match_stat = team_match_stat.merge(home_stat, left_on="team_api_id", right_on="home_team_api_id")
team_match_stat = team_match_stat.merge(away_stat, left_on="team_api_id", right_on="away_team_api_id")
team_match_stat = team_match_stat.drop("home_team_api_id",1)
team_match_stat = team_match_stat.drop("away_team_api_id",1)
team_match_stat.head(5)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,home_team_goal,away_team_goal
0,1,9987,673.0,KRC Genk,GEN,1.933962,1.349057
1,2,9993,675.0,Beerschot AC,BAC,1.473684,0.815789
2,3,10000,15005.0,SV Zulte-Waregem,ZUL,1.660377,1.226415
3,4,9994,2007.0,Sporting Lokeren,LOK,1.405660,1.226415
4,5,9984,1750.0,KSV Cercle Brugge,CEB,1.307692,1.032967

In [25]:
home = team_match_stat["home_team_goal"].values
away = team_match_stat["away_team_goal"].values
goal_rate = (home+away)/2

team_match_stat["goal_rate"]=pd.Series(goal_rate)
team_match_stat.head(5)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,home_team_goal,away_team_goal,goal_rate
0,1,9987,673.0,KRC Genk,GEN,1.933962,1.349057,1.641509
1,2,9993,675.0,Beerschot AC,BAC,1.473684,0.815789,1.144737
2,3,10000,15005.0,SV Zulte-Waregem,ZUL,1.660377,1.226415,1.443396
3,4,9994,2007.0,Sporting Lokeren,LOK,1.405660,1.226415,1.316038
4,5,9984,1750.0,KSV Cercle Brugge,CEB,1.307692,1.032967,1.170330

In [27]:
team_match_stat = team_match_stat.sort_values(["goal_rate"], ascending=[0])
team_match_stat

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,home_team_goal,away_team_goal,goal_rate
258,43042,8634,241.0,FC Barcelona,BAR,3.256579,2.328947,2.792763
256,43040,8633,243.0,Real Madrid CF,REA,3.322368,2.223684,2.773026
94,15617,9823,21.0,FC Bayern Munich,BMU,2.808824,1.992647,2.400735
165,26556,8640,247.0,PSV,PSV,2.720588,2.073529,2.397059
161,26552,8593,245.0,Ajax,AJA,2.647059,2.110294,2.378676
216,35294,9772,234.0,SL Benfica,BEN,2.588710,1.991935,2.290323
242,39395,9925,78.0,Celtic,CEL,2.559211,2.013158,2.286184
205,35283,9773,236.0,FC Porto,POR,2.379032,1.983871,2.181452
287,49118,9931,896.0,FC Basel,BAS,2.405594,1.923077,2.164336
235,39388,8548,86.0,Rangers,RAN,2.328947,1.934211,2.131579
97,15620,9789,22.0,Borussia Dortmund,DOR,2.191176,1.860294,2.025735
5,6,8635,229.0,RSC Anderlecht,AND,2.330189,1.698113,2.014151
34,3466,8456,10.0,Manchester City,MCI,2.401316,1.585526,1.993421
11,12,8342,231.0,Club Brugge KV,CLB,2.216981,1.754717,1.985849
43,3475,8455,5.0,Chelsea,CHE,2.190789,1.644737,1.917763
25,3457,10260,11.0,Manchester United,MUN,2.223684,1.605263,1.914474
27,3459,9825,1.0,Arsenal,ARS,2.013158,1.756579,1.884868
159,26550,8611,1908.0,FC Twente,TWE,2.125000,1.617647,1.871324
70,9548,9847,73.0,Paris Saint-Germain,PSG,2.184211,1.552632,1.868421
286,49117,10192,900.0,BSC Young Boys,YB,2.230769,1.468531,1.849650
172,26563,10229,1906.0,AZ,ALK,2.051471,1.566176,1.808824
133,20522,9885,45.0,Juventus,JUV,2.033113,1.573333,1.803223
167,26558,10235,246.0,Feyenoord,FEY,2.139706,1.455882,1.797794
6,7,9991,674.0,KAA Gent,GEN,1.954128,1.623853,1.788991
96,15619,8178,32.0,Bayer 04 Leverkusen,LEV,1.985294,1.566176,1.775735
136,20525,8686,52.0,Roma,ROM,1.980132,1.519737,1.749935
30,3462,8650,9.0,Liverpool,LIV,1.934211,1.559211,1.746711
171,26562,10228,1913.0,SC Heerenveen,HEE,1.963235,1.492647,1.727941
269,43053,9906,240.0,Atlético Madrid,AMA,2.111842,1.335526,1.723684
137,20526,9875,48.0,Napoli,NAP,2.020000,1.397351,1.708675
...,...,...,...,...,...,...,...,...
60,9538,9830,71.0,FC Nantes,NAN,1.039474,0.736842,0.888158
226,36735,9764,1888.0,Gil Vicente FC,GV,0.983871,0.790323,0.887097
106,15629,8398,162.0,FC Energie Cottbus,COT,1.117647,0.647059,0.882353
110,15633,8295,1832.0,Karlsruher SC,KAR,1.058824,0.705882,0.882353
145,21285,8537,1844.0,Livorno,LIV,1.105263,0.631579,0.868421
83,11076,8521,378.0,Stade Brestois 29,BRE,1.052632,0.684211,0.868421
213,35291,10213,NaN,Amadora,AMA,1.066667,0.666667,0.866667
193,31455,8322,111082.0,Arka Gdynia,ARK,1.155556,0.555556,0.855556
280,46848,10268,468.0,Elche CF,ELC,0.842105,0.868421,0.855263
230,38173,6547,100741.0,FC Penafiel,PEN,1.000000,0.705882,0.852941
120,18691,9776,110500.0,Eintracht Braunschweig,BRA,1.058824,0.647059,0.852941
104,15627,9912,159.0,DSC Arminia Bielefeld,BIE,0.941176,0.764706,0.852941
55,7276,8344,1961.0,Cardiff City,CAR,1.052632,0.631579,0.842105
189,31451,8244,301.0,Widzew Łódź,LOD,0.900000,0.766667,0.833333
190,31452,8242,1564.0,Odra Wodzisław,ODR,0.966667,0.700000,0.833333
208,35286,7992,NaN,Trofense,TRO,0.933333,0.733333,0.833333
81,10312,4170,111376.0,US Boulogne Cote D'Opale,BOU,1.000000,0.631579,0.815789
91,14106,8550,68.0,FC Metz,MET,1.368421,0.263158,0.815789
232,38789,6367,NaN,Uniao da Madeira,MAD,1.117647,0.470588,0.794118
131,20520,8690,203.0,Reggio Calabria,REG,1.210526,0.368421,0.789474
63,9541,9746,1738.0,Le Havre AC,LEH,0.894737,0.684211,0.789474
219,35297,9809,100737.0,Naval 1° de Maio,NAV,0.822222,0.755556,0.788889
119,18079,8357,165.0,SpVgg Greuther Fürth,GRF,0.588235,0.941176,0.764706
231,38176,8613,1898.0,Boavista FC,BOA,0.882353,0.617647,0.750000
37,3469,8549,12.0,Middlesbrough,MID,0.894737,0.578947,0.736842
76,9554,9855,1805.0,Grenoble Foot 38,GRE,0.868421,0.578947,0.723684
150,23523,9878,200.0,Pescara,PES,0.789474,0.631579,0.710526
180,30222,6631,100626.0,FC Dordrecht,DOR,0.882353,0.529412,0.705882
282,47612,7869,1867.0,Córdoba CF,COR,0.631579,0.526316,0.578947
82,11074,108893,111989.0,AC Arles-Avignon,ARL,0.736842,0.368421,0.552632

In [36]:
team_attributes.loc[team_attributes["team_api_id"]==8634].describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,6.000000,6.0,6.0,6.000000,2.0,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,121.500000,241.0,8634.0,35.833333,35.0,34.000000,45.166667,33.333333,53.000000,64.333333,54.500000,66.500000
std,1.870829,0.0,0.0,6.794606,0.0,8.876936,13.182059,9.563821,15.310127,3.881580,14.556785,2.073644
min,119.000000,241.0,8634.0,24.000000,35.0,25.000000,36.000000,24.000000,35.000000,61.000000,30.000000,65.000000
25%,120.250000,241.0,8634.0,35.000000,35.0,30.500000,37.000000,26.500000,39.750000,61.000000,48.000000,65.000000
50%,121.500000,241.0,8634.0,35.500000,35.0,32.000000,37.000000,31.000000,55.000000,63.500000,63.000000,65.500000
75%,122.750000,241.0,8634.0,40.500000,35.0,33.500000,53.500000,37.750000,65.000000,66.750000,63.000000,67.500000
max,124.000000,241.0,8634.0,43.000000,35.0,51.000000,65.000000,49.000000,70.000000,70.000000,65.000000,70.000000

In [37]:
team_attributes.loc[team_attributes["team_api_id"]==108893].describe()

,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth
count,6.000000,6.0,6.0,6.000000,2.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.00,6.000000
mean,62.500000,111989.0,108893.0,43.166667,47.000000,53.166667,46.000000,38.333333,39.500000,38.333333,46.00,46.333333
std,1.870829,0.0,0.0,11.720353,1.414214,11.956867,11.135529,2.581989,5.648008,9.003703,8.00,12.060956
min,60.000000,111989.0,108893.0,23.000000,46.000000,33.000000,30.000000,35.000000,30.000000,25.000000,32.00,35.000000
25%,61.250000,111989.0,108893.0,39.500000,46.500000,49.500000,38.500000,36.250000,37.000000,32.250000,43.50,35.250000
50%,62.500000,111989.0,108893.0,45.500000,47.000000,54.000000,49.000000,40.000000,43.000000,41.500000,47.50,46.500000
75%,63.750000,111989.0,108893.0,50.000000,47.500000,62.250000,53.500000,40.000000,43.000000,44.000000,52.25,57.000000
max,65.000000,111989.0,108893.0,56.000000,48.000000,65.000000,58.000000,40.000000,43.000000,48.000000,53.00,58.000000

## Partie 3 - Code

In [ ]:
import IADS2018 
import IADS2018.kmoyennes as km

## Partie 4 - Protocole expérimental

## Partie 5 - Résultats

## Partie 6 - Analyse